:root {
    --vp-home-hero-name-background: linear-gradient(75deg, #26CAEA.0%, #32EE5F.100%);
    --vp-c-brand-1: #1fbc84;
    --vp-c-brand-2: #1A6B4E;
    --vp-c-brand-3: #20835F;
}

.name .clip {
    color: transparent;
    -webkit-text-fill-color: transparent;
}