/** VARIABLES **/
$light-blue: #26caea;
$dark-blue: #16afe1;
$light-green: #32ee5f;
$dark-green: #12db42;
$light-yellow: #f0ee6d;

$night-blue: #353544;
$dark-grey: #5a5a72;
$grey: #b0b0bf;
$light-grey: #f4f4f6;
$white: #ffffff;

$red: #e5283b;

$complete-gradient: linear-gradient(rgba(240, 238, 109, 10), rgba(50, 238, 95, 50), rgba(240, 238, 109, 96));
$simple-gradient: linear-gradient(rgba(240, 238, 109, 5), rgba(240, 238, 109, 120));

$em-green: #12db42;
$em-blue: #16afe1;
$em-grey: #5a5a72;

$neutral-100: #ffffff;
$neutral-200: #f2f2f3;
$neutral-300: #e3e5e8;
$neutral-400: #c5c8ce;
$neutral-500: #acb1b9;
$neutral-600: #8f96a3;
$neutral-700: #5e646e;
$neutral-800: #2b313b;
$neutral-900: #080c12;

$main-100: #dff5e9;
$main-200: #ccede1;
$main-300: #87d4b8;
$main-400: #34b385;
$main-500: #20835f;
$main-600: #106949;
$main-700: #0d5946;
$main-800: #00473d;
$main-900: #00322b;

$blue-100: #f0f6fd;
$blue-200: #c8e1fe;
$blue-300: #79b6fb;
$blue-400: #007aff;
$blue-500: #1c6ef2;
$blue-600: #0a53cc;
$blue-700: #0738ab;
$blue-800: #042a80;
$blue-900: #011c5b;

$red-100: #ffeeee;
$red-200: #fedcdc;
$red-300: #fbabab;
$red-400: #e76767;
$red-500: #db333e;
$red-600: #c31924;
$red-700: #9f0b15;
$red-800: #7f050d;
$red-900: #480005;

$yellow-100: #fffbdb;
$yellow-200: #fff0b5;
$yellow-300: #feeba1;
$yellow-400: #fdd46a;
$yellow-500: #ffc633;
$yellow-600: #ffb800;
$yellow-700: #cc8100;
$yellow-800: #805100;
$yellow-900: #3e2200;

$p-4: 4px;
$p-8: 8px;
$p-16: 16px;
$p-24: 24px;
$p-32: 32px;
$p-40: 40px;
$p-48: 48px;
$p-56: 56px;
$p-64: 64px;
$p-72: 72px;
$p-80: 80px;

$m-8: 8px;
$m-16: 16px;
$m-24: 24px;
$m-32: 32px;
$m-40: 40px;
$m-48: 48px;
$m-56: 56px;
$m-64: 64px;
$m-72: 72px;
$m-80: 80px;
