.docker/data/*
docker-compose-*.yml

# ADMINISTRATOR
/administrator/cache/*

/administrator/language/overrides/*

## LOGS
/administrator/logs/*

# IMAGES
/images/banners/*
/images/headers/*
/images/sampledata/*
/images/joomla*
/images/powered_by.png
/images/custom/logo.png

# INSTALLATION FOLDER
/installation/*

# FRONTEND LANGUAGES
/language/overrides/*

# MEDIA FOLDER
/media/cache/*

# FRONTEND TEMPLATES
/templates/g5_helium/templateDetails.xml
/templates/g5_helium/custom/config/22/
/templates/g5_helium/custom/config/24/
/templates/g5_helium/custom/config/_body_only/
/templates/g5_helium/custom/config/_error/
/templates/g5_helium/custom/config/_offline/
/templates/g5_helium/custom/config/default/
/templates/g5_helium/custom/config/menu/
/templates/g5_helium/custom/css-compiled/

/tmp/*

# CONFIGURATION FILES
/configuration.php
/.htaccess

