<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Unit/bootstrap.php"
         cacheResultFile="tmp/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="false"
         failOnWarning="false"
         colors="true"
         verbose="true">

    <testsuite name="Unit">
        <directory suffix="Test.php">Unit</directory>
        <exclude>Unit/Helper/</exclude>
    </testsuite>

    <coverage cacheDirectory="tmp/code-coverage" processUncoveredFiles="false" includeUncoveredFiles="false">
        <include>
            <directory suffix=".php">../components/com_emundus/classes</directory>
            <directory suffix=".php">../components/com_emundus/helpers</directory>
            <directory suffix=".php">../components/com_emundus/models</directory>
        </include>
        <report>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>

</phpunit>
