<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Unit/bootstrap.php"
         cacheResultFile="tmp/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="false"
         failOnWarning="false"
         colors="true"
         verbose="true">

    <testsuite name="Unit">
        <directory suffix="Test.php">./Unit</directory>
        <exclude>./Unit/Helper/</exclude>
    </testsuite>
<!--    <testsuite name="Integration">
        <directory suffix="Test.php">./Integration</directory>
    </testsuite>-->

    <!--<php>
        <const name="JTEST_DB_ENGINE" value="mysqli" />
        <const name="JTEST_DB_HOST" value="localhost" />
        <const name="JTEST_DB_NAME" value="test_joomla" />
        <const name="JTEST_DB_USER" value="root" />
        <const name="JTEST_DB_PASSWORD" value="Password12!" />
    </php>-->

    <coverage cacheDirectory="tmp/code-coverage" processUncoveredFiles="false" includeUncoveredFiles="false">
        <include>
            <directory suffix=".php">components/com_emundus/models</directory>
        </include>
        <exclude>
            <directory>components/com_emundus/unittest/helpers/</directory>
        </exclude>
        <report>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>

</phpunit>
