#em_user_menu {
    list-style-type: none;
    margin: unset;
    display: flex;
    align-items: center;
    padding-left: 0 !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

#em_user_menu li {
    padding: 6px 12px;
    border-radius: var(--em-default-br);
}

#em_user_menu li.active {
    background: var(--neutral-200);
}

#header-b {
    justify-content: center;
    width: 100%;
}

/* Ajout d'un icône "open in new tab" sur les url externes */
.em-applicant #em_user_menu li > a[target="_blank"]::after {
    content: "open_in_new";
    display: inline-block;
    font-family: "Material Symbols Outlined", sans-serif;
    margin-left: 8px;
    text-decoration: none;
    position: relative;
    top: 2px;
}

@media all and (max-width: 479px) {
    #header-b {
        justify-content: center;
    }
}
