

#mod_emundus_help .mod_emundus_help__popover {
    z-index: 20;
    position: fixed;
    left: 25px;
    bottom: 14px;
    cursor: pointer;
}

.mod_emundus_help__popover .material-symbols-outlined{
    font-size: 24px !important;
}

