/* COLUMNS */

form .fabrikGroupColumns.fabrikGroup .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 8px;
    flex-wrap: nowrap;
}

.fabrikElementContainer {
    position: relative;
}

form .fabrikGroupColumns.fabrikGroup .row .fabrikElementContainer {
    padding: 0;
}

.em-submit-form-button .btn-group .btn-primary {
    margin-bottom: 0;
}

#aside-comment-section {
    top: 72px;
    height: calc(100vh - 72px);
    transition: all .3s;
    width: 425px;
    z-index: 9999;
}

#aside-comment-section #comments {
    height: calc(100vh - 72px);
}

#aside-comment-section #comments-list-container {
    max-height: 80%;
    overflow-y: auto;
}

#aside-comment-section .close-comment, #aside-comment-section .open-comment {
    left: -52px;
    padding: 8px;
    font-size: 36px;
}

#aside-comment-section .close-comment {
    display: block;
}

#aside-comment-section .open-comment {
    display: none;
}

#aside-comment-section.closed {
    right: -425px;
}

#aside-comment-section.closed .open-comment {
    display: block;
}

#aside-comment-section.closed .close-comment {
    display: none;
}

.comment-icon {
    transition: all .3s;
}

.comment-icon.has-comments:after {
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    background: var(--main-500);
    position: absolute;
    border-radius: 50%;
    top: -2px;
    right: -2px;
}

.comment-icon:not(.has-comments) {
    opacity: 0 !important;
}

.fabrik-element-emundus-container:hover .comment-icon {
    opacity: 1 !important;
}

.fabrik-page-header:hover .comment-icon,.fabrik-group-header:hover .comment-icon {
    opacity: 1 !important;
}

.modal___container {
    position: fixed;
    z-index: -999999;
    width: 0;
    height: 0;
    background-color: white;
    opacity: 0;
    display: block !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 9999px 9999px rgb(0 0 0 / 43%);
    border-radius: var(--em-applicant-br);
}

@media all and (max-width: 767px) {
    #aside-comment-section {
        top: 0;
        height: 100vh;
        width: 100%;
    }

    #aside-comment-section.closed {
        right: -100%;
    }

    #aside-comment-section .open-comment {
        top: 112px;
    }

    #aside-comment-section .close-comment {
        left: 16px;
        border-radius: 6px;
        top: 4px;
    }

    #aside-comment-section #comments {
        padding-top: 60px;
    }

    .comment-icon, .comment-icon:not(.has-comments) {
        opacity: 1 !important;
    }
}

@media all and (max-width: 479px) {
    .fabrikGroup .repeatGroupTable .fabrikSubGroupElements .fabrikGroupRepeater {
        display: flex;
        justify-content: flex-end;
    }

    form .fabrikGroupColumns.fabrikGroup .row {
        flex-wrap: wrap;
    }
}

@media all and (min-width: 480px) and (max-width: 767px) {

    .fabrikGroup .repeatGroupTable .fabrikSubGroupElements .fabrikGroupRepeater {
        display: flex;
        justify-content: flex-end;
    }

    .view-form.applicant-form  .fabrikGroup .repeatGroupTable {
        display: block !important;
    }

    .view-form.applicant-form  .fabrikGroup .repeatGroupTable th:last-of-type,
    .view-form.applicant-form  .fabrikGroup .repeatGroupTable  td:last-of-type {
        width: 100% !important;
    }

    .view-form.applicant-form  .fabrikGroup .repeatGroupTable tbody tr .fabrikElement input {
        width: 100%;
    }

    .view-form.applicant-form  .fabrikGroup .repeatGroupTable .fabrikSubGroupElements  td .fabrikElement  select {
        background-position-x: 98% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {

    .fabrikGroup .repeatGroupTable .fabrikSubGroupElements .fabrikGroupRepeater {
        display: flex;
        justify-content: flex-end;
    }
}