button.btn-primary{
    background-color: #e03c32;
    border: 1px solid #e03c32;
    border-radius: 4px;
    padding: var(--em-spacing-vertical) var(--em-spacing-horizontal) !important;
}
button.btn-primary:hover{
    background-color: transparent;
    color: #e03c32;
    outline: none;
}
a.btn{
    background-color: #29d4ff;
    border: 1px solid #29d4ff;
    border-radius: 4px;
    padding: var(--em-spacing-vertical) var(--em-spacing-horizontal);
}
a.btn:hover{
    background-color: transparent;
    color: #29d4ff;
    outline: none;
}

.form-horizontal .control-group .control-label {
    text-align: left;
    padding: 0;
}

@media all and (min-width: 768px) and (max-width: 959px) {
    .view-profile .form-horizontal .controls {
        margin-left: 0;
    }
}

@media (max-width: 1366px) {
    .view-profile.layout-edit #g-container-main .g-container {
        width: 95%;
    }
}