#jform_name,#jform_name-lbl, #jform_username,#jform_username-lbl,#jform_username-desc,#jform_params_editor-lbl,#jform_params_editor,#jform_params_language,#jform_params_language-lbl,#jform_params_admin_style,#jform_params_admin_style-lbl,#jform_params_admin_language,#jform_params_admin_language-lbl {
    display: none;
}

.password-group .input-group .input-password-toggle {
    position: absolute;
    right: 4px;
    padding: 0;
    margin-bottom: 0;
    background: transparent;
    color: black;
}

.password-group .input-group .input-password-toggle:hover {
    background: transparent;
    color: black;
}

.password-group .input-group {
    align-items: center;
}

.com-users-profile__edit-form#member-profile fieldset:nth-child(3) {
    display: none;
}

.com-users-profile__edit-form#member-profile {
    background: #fff;
    margin: 0 auto 50px auto;
    padding: 24px;
    border-radius: var(--em-form-br-block) !important;
    border: 1px solid #EDEDED;
    box-shadow: var(--em-box-shadow-x-1) var(--em-box-shadow-y-1) var(--em-box-shadow-blur-1) var(--em-box-shadow-color-1), var(--em-box-shadow-x-2) var(--em-box-shadow-y-2) var(--em-box-shadow-blur-2) var(--em-box-shadow-color-2), var(--em-box-shadow-x-3) var(--em-box-shadow-y-3) var(--em-box-shadow-blur-3) var(--em-box-shadow-color-3);
}

#member-profile > .control-group .controls {
    margin-left: 0;
    text-align: center;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

form#member-profile .control-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

form#member-profile .control-group:nth-child(5),
form#member-profile .control-group:nth-child(6),
form#member-profile .control-group:nth-child(7){
    margin: 24px 0 0 0;
}

form#member-profile .control-group .controls {
    margin-left: 0 !important;
    width: 100%;
}

#member-profile .control-group.hidden {
    display: none;
}

form#member-profile.well legend {
    color: var(--neutral-800);
    font-weight: 600;
    margin: 0 !important;
    font-family: var(--em-profile-font-title), Inter, sans-serif;
}

form#member-profile.form-validate.form-horizontal.well input {
    width: 100%;
    color: var(--em-default-text-color-1);
    font-family: var(--em-profile-font), Inter, sans-serif;
    height: var(--em-form-height);
    border-radius: var(--em-form-br);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: var(--em-spacing-2);
    padding-bottom: var(--em-spacing-2);
    border: 1px solid var(--em-form-bc);
    box-shadow: none;
    margin-top: 6px;
    margin-bottom: 0;
    font-size: var(--em-form-font-size);
    background-color: var(--em-form-bgc);
}

form#member-profile.form-validate.form-horizontal.well input:hover {
    border: 1px solid var(--neutral-600);
    box-shadow: none;
}

form#member-profile.form-validate.form-horizontal.well input:focus {
    border: 1px solid var(--blue-500);
    box-shadow: none;
    color: var(--neutral-800) !important;
}

form#member-profile .control-group .control-label label {
    font-family: var(--em-profile-font), Inter, sans-serif;
    font-size: var(--em-form-label-size);
    font-style: normal;
    font-weight: var(--em-form-label-weight);
    line-height: 17px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: var(--neutral-900);
    margin-bottom: 0 !important;
    padding-top: 0 !important;
}

form#member-profile .control-group .controls .text-muted {
    color: var(--em-form-tip-color) !important;
}

form#member-profile .control-group .controls .text-muted strong {
    font-weight: 400;
}

.password-group .input-group .input-password-toggle span {
    color: var(--neutral-500) !important;
}

.password-group .input-group .input-password-toggle:hover span {
    color: var(--neutral-700) !important;
}

form#member-profile.form-validate.form-horizontal.well button.btn {
    text-transform: capitalize;
    border-radius: var(--em-applicant-br);
    margin-bottom: 0;
    display: flex;
    align-items: center;
    padding: var(--em-spacing-vertical) var(--em-spacing-horizontal);
    height: 38px;
}

form#member-profile.form-validate.form-horizontal.well button.input-password-toggle {
    height: var(--em-form-height);
    margin-top: 6px;
}

form#member-profile.form-validate.form-horizontal.well a.btn {
    font-weight: 300;
    margin-right: 16px !important;
    margin-bottom: 0;
    display: flex;
    border-radius: var(--em-applicant-br);
    align-items: center;
    padding: var(--em-spacing-vertical) var(--em-spacing-horizontal) !important;
    height: 38px;
}
form#member-profile.form-validate.form-horizontal.well fieldset:nth-child(2) {
    margin-top: 20px;
}
form#member-profile.form-validate.form-horizontal.well label {
    font-size: var(--em-form-label-size);
    color: var(--neutral-900);
    font-family: var(--em-profile-font), Inter, sans-serif;
}

form#member-profile.form-validate.form-horizontal.well span.star {
    display: none;
}

.invalid .form-control-feedback {
    margin-top: var(--em-spacing-1);
    color: var(--em-form-element-color-error) !important;
    font-weight: 700;
    padding-left: 0;
}

.view-profile.gantry .em-coordinator #g-container-main {
    padding: 32px 20px 20px 96px !important;
}

.view-profile.gantry .em-applicant #g-container-main {
    padding: 32px 20px 20px 20px !important;
}

@media screen and (max-width: 767px) {
    form#member-profile {
        width: 100% !important;
    }

    .view-profile form#member-profile.form-validate.form-horizontal.well button.btn.btn-primary.validate {
        margin-right: 0 !important;
    }

    .view-profile #member-profile > .control-group .controls {
        flex-wrap: wrap;
        gap: 8px;
    }

    .view-profile .em-applicant #g-container-main .g-container,
    .view-profile .em-coordinator #g-container-main .g-container {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .com-users-profile__edit-form#member-profile {
        width: auto;
    }
}

@media screen  and (min-width: 768px) and (max-width: 959px) {
    .view-profile .em-applicant #g-container-main .g-container,
    .view-profile .em-coordinator #g-container-main .g-container {
        width: 100%;
    }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
    .view-profile .em-applicant #g-container-main .g-container {
        width: 60rem;
    }
    .view-profile .em-coordinator #g-container-main .g-container {
        width: 60rem;
        max-width: 100%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1366px) {
    .view-profile .em-applicant #g-container-main .g-container{
        width: 75rem;
    }
    .view-profile .em-coordinator #g-container-main .g-container{
        width: 75rem;
        max-width: 100%;
    }
}

@media screen  and (min-width: 1367px) and (max-width: 1919px) {
    .view-profile .em-applicant #g-container-main .g-container,
    .view-profile .em-coordinator #g-container-main .g-container{
        width: 70%;
    }
}

@media screen and (min-width: 1920px) {
    .view-profile .em-applicant #g-container-main .g-container,
    .view-profile .em-coordinator #g-container-main .g-container {
        width: 50%;
    }
}
