@page {
    margin: 130px 25px;
}
@font-face {
    font-family: Inter;
    src: local("Inter") url('media/com_emundus/css/fonts/google/Inter/Inter_18pt-Regular.ttf') format("truetype");
    font-weight: normal;
}
* {
    font-family: Inter, Arial, sans-serif;
}
header { position: fixed; top: -120px; left: 0px; right: 0px; }
header hr {
    border: none;
    height: 1px;
    background-color: #A4A4A4;
}
.page-break { page-break-before: always; }
hr {
    border: solid 1px black;
}
h2 {
    font-size: 18px;
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 0;
}
h2.pdf-page-title{
    background-color: #EAEAEA;
    padding: 10px 12px;
    border-radius: 2px;
    margin-right: 16px;
}
h3 {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    margin-bottom: 8px;
}
h3.group{
    padding-left: 16px;
}
td{
    font-size: 12px;
}
.pdf-forms{
    border-spacing: 0;
}
.pdf-repeat-count{
    margin-top: 12px;
    margin-bottom: 6px;
    padding-left: 16px;
}
.pdf-forms th{
    font-size: 12px;
    font-weight: 400;
}
.pdf-forms th.background{
    background-color: #EDEDED;
    border-top: solid 1px #A4A4A4;
    border-left: solid 1px #A4A4A4;
    border-right: solid 1px #A4A4A4;
}
table.pdf-forms{
    width: 100%;
    page-break-inside:auto;
    padding: 0 16px;
}
.pdf-forms tr{
    page-break-inside:avoid;
    page-break-after:auto
}
.pdf-forms td{
    border-collapse: collapse;
    padding: 8px;
    width: 100%;
    border-left: solid 1px #A4A4A4;
    border-top: solid 1px #A4A4A4;
}
.pdf-forms tr td:first-child {
    width: 30%;
}
.pdf-forms tr td:nth-child(2){
    width:70%;
    border-right: solid 1px #A4A4A4;
}
.pdf-forms td.background-light{
    width: auto;
}
.pdf-forms tr td[colspan='2']{
    border-right: solid 1px #A4A4A4;
}
.pdf-forms tr:last-child td{
    border-bottom: solid 1px #A4A4A4;
}
.pdf-forms tr:last-child td.background-light{
    border-right: solid 1px #A4A4A4 !important;
}
.pdf-attachments{
    font-size: 14px;
}
.pdf-attachments li {
    margin-bottom: 6px;
}
@media print {
    .breaker{
        page-break-before: always;
    }
}
.label {color:black;padding: 6px 12px;border-radius: 4px;}
.label-default, .label-null, .label- {
    background-color: #b4b4b4 !important;
    color: #282828;
    text-shadow: none;
}

.label-text-default, .label-text-null {
    color: #b4b4b4 !important;
}

.label-default-500, .label-null-500, .label-500 {
    background-color: #b4b4b4 !important;
}

.label-red-1 {
    background-color: #eb0000;
    text-shadow: none;
}

.label-text-red-1 {
    color: #eb0000;
}

.label-border-red-1 {
    border-color: #eb0000;
}

.label-red-2 {
    background-color: #c00016;
    text-shadow: none;
}

.label-text-red-2 {
    color: #c00016;
}

.label-border-red-2 {
    border-color: #c00016;
}

.label-pink-1 {
    background-color: #ff78d1;
    color: var(--neutral-900);
    text-shadow: none;
}

.label-text-pink-1 {
    color: #ff78d1;
}

.label-border-pink-1 {
    border-color: #ff78d1;
}


.label-pink-2 {
    background-color: #e0008a;
    text-shadow: none;
}

.label-text-pink-2 {
    color: #e0008a;
}

.label-border-pink-2 {
    border-color: #e0008a;
}

.label-purple-1 {
    background-color: #d292ef;
    color: var(--neutral-900);
    text-shadow: none;
}

.label-text-purple-1 {
    color: #d292ef;
}

.label-border-purple-1 {
    border-color: #d292ef;
}

.label-purple-2 {
    background-color: #9600c7;
    text-shadow: none;
}

.label-text-purple-2 {
    color: #9600c7;
}

.label-border-purple-2 {
    border-color: #9600c7;
}

.label-light-blue-1 {
    background-color: #35d7d2;
    color: var(--neutral-900);
    text-shadow: none;
}

.label-text-light-blue-1 {
    color: #35d7d2;
}

.label-border-light-blue-1 {
    border-color: #35d7d2;
}


.label-light-blue-2 {
    background-color: #308281;
    text-shadow: none;
}

.label-text-light-blue-2 {
    color: #308281;
}

.label-border-light-blue-2 {
    border-color: #308281;
}

.label-blue-1 {
    background-color: #64d8ff;
    color: var(--neutral-900);
    text-shadow: none;
}

.label-text-blue-1 {
    color: #64d8ff;
}

.label-border-blue-1 {
    border-color: #64d8ff;
}

.label-blue-2 {
    background-color: #0073e5;
    text-shadow: none;
}

.label-text-blue-2 {
    color: #0073e5;
}

.label-border-blue-2 {
    border-color: #0073e5;
}

.label-blue-3 {
    background-color: #0644ae;
    text-shadow: none;
}

.label-text-blue-3 {
    color: #0644ae;
}

.label-border-blue-3 {
    border-color: #0644ae;
}

.label-green-1 {
    background-color: #98d432;
    color: var(--neutral-900);
    text-shadow: none;
}

.label-text-green-1 {
    color: #98d432;
}

.label-border-green-1 {
    border-color: #98d432;
}

.label-green-2 {
    background-color: #008a35;
    text-shadow: none;
}

.label-text-green-2 {
    color: #008a35;
}

.label-border-green-2 {
    border-color: #008a35;
}

.label-yellow-1 {
    background-color: #ffe014;
    color: var(--neutral-900);
    text-shadow: none;
}

.label-text-yellow-1 {
    color: #ffe014;
}

.label-border-yellow-1 {
    border-color: #ffe014;
}

.label-yellow-2 {
    background-color: #ffae00;
    color: var(--neutral-900);
    text-shadow: none;
}

.label-text-yellow-2 {
    color: #ffae00;
}

.label-border-yellow-2 {
    border-color: #ffae00;
}

.label-orange-1 {
    background-color: #ff6900;
    color: var(--neutral-900);
    text-shadow: none;
}

.label-text-orange-1 {
    color: #ff6900;
}

.label-border-orange-1 {
    border-color: #ff6900;
}

.label-orange-2 {
    background-color: #cc4b00;
    text-shadow: none;
}

.label-text-orange-2 {
    color: #cc4b00;
}

.label-border-orange-2 {
    border-color: #cc4b00;
}

.label-beige {
    background-color: #ffc285;
    color: var(--neutral-900);
    text-shadow: none;
}

.label-text-beige {
    color: #ffc285;
}

.label-border-beige {
    border-color: #ffc285;
}

.label-brown {
    background-color: #8b511f;
    text-shadow: none;
}

.label-text-brown {
    color: #8b511f;
}

.label-border-brown {
    border-color: #8b511f;
}

.label-grey-1 {
    background-color: #b4b4b4;
    text-shadow: none;
    color: var(--neutral-900);
}

.label-text-grey-1 {
    color: #b4b4b4;
}

.label-border-grey-1 {
    border-color: #b4b4b4;
}

.label-grey-2 {
    background-color: #757575;
    text-shadow: none;
}

.label-text-grey-2 {
    color: #757575;
}

.label-border-grey-2 {
    border-color: #757575;
}

.label-black {
    background-color: #1e1e1e;
    text-shadow: none;
    color: var(--neutral-0);
}

.label-text-black {
    color: #1e1e1e;
}

.label-border-black {
    border-color: #1e1e1e;
}
.sticker {
    border-radius: 20px 8px 8px 20px;
    padding: 4px 8px;
    margin: 4px 0;
    font-size: 12px;
    max-width: 200px;
    white-space: break-spaces;
    color: white;
}