@layer components {
    .em-primary-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal);
        border-radius: var(--em-coordinator-br);
        border: unset;
        color: var(--neutral-0);
        background-color: var(--em-profile-color);
        border: solid 1px transparent;
        font-family: var(--em-profile-font), Inter, sans-serif;
        font-size: var(--em-coordinator-font-size) !important;

        &:hover, &:focus, &:active {
            background-color: var(--neutral-0);
            color: var(--em-profile-color);
            border: 1px solid var(--em-profile-color);
            text-decoration: none;

            .material-icons {
                color: var(--em-profile-color) !important;
            }
        }

        .material-icons {
            color: var(--white);
        }
    }

    .em-primary-disabled {
        background-color: var(--main-100);
    }

    .btn-tertiary {
        padding: var(--em-spacing-vertical) var(--em-spacing-horizontal);
        border: 1px solid var(--em-tertiary-color);
        border-radius: var(--em-applicant-br);
        color: var(--em-tertiary-color);
        transition: all 0.3s ease-in-out;
        p,span {
            color: var(--em-tertiary-color);
        }
        &:hover, &:focus, &:active {
            background: var(--em-tertiary-color);
            color: var(--neutral-0);
            p,span {
                color: var(--neutral-0);
            }
        }
    }

    /** DROPFILES **/
    #pwrapper #preview .restableMenu {
        display: none;
    }
    .dropfiles-page {
        .dropfiles-content-multi {
            border-radius: 8px;
            margin-top: 0;
        }
        .breadcrumbs {
            display: none;
        }
        .dropfiles-container {
            margin-top: 0;
            .dropfiles-categories {
                padding: 8px 4px;
                h2 {
                    color: var(--neutral-900);
                }
            }
            .dropfiles_list {
                .file {
                    a.downloadlink {
                        margin-top: 0 !important;
                    }
                    .filecontent > div.ext.pdf {
                        background-image: url(media/com_emundus/images/icones/filetype/pdf.png);
                        color: transparent;
                        background-size: contain;
                    }
                    .file-size {
                        display: none;
                    }
                    .file-hits {
                        display: none;
                    }
                    .file-dated {
                        display: none;
                    }
                }
                .dropfileslightbox {
                    display: none;
                }
            }
        }
    }
    .com_dropfiles.view-manage {
        .g-container {
            width: 100%;
        }
        #mybootstrap #rightcol .dropfiles-save-submit:nth-child(1) {
            left: 70% !important;
        }
        #mybootstrap #rightcol .dropfiles-save-submit {
            float: right;
        }
        .managebootstrap {
            border-radius: var(--em-default-br);
            margin-bottom: 36px !important;
            #mycategories {
                border-radius: var(--em-default-br);
                div.btn-categories#newcategory {
                    z-index: 1;
                    width: 100% !important;
                }
                #categorieslist {
                    flex-direction: column;
                }
            }
            #pwrapper {
                border-radius: var(--em-default-br);
                #wpreview {
                    height: 100%;
                    .dropfiles-flip-btn {
                        right: 18px;
                    }
                    #preview {
                        height: 100%;
                        #dropbox {
                            height: auto !important;
                        }
                    }
                }
            }
        }
    }

}