@import "utilities.css";
@import "components.css";
@import "form.css";
@import "tchoozy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/media/com_emundus/css/fonts/google/MaterialIcons-Regular.ttf); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/media/com_emundus/css/fonts/google/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(/media/com_emundus/css/fonts/google/MaterialIconsOutlined-Regular.otf); /* For IE6-8 */
    src: local('Material Icons Outlined'),
    local('MaterialIconsOutlined-Regular'),
    url(/media/com_emundus/css/fonts/google/MaterialIconsOutlined-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(/media/com_emundus/css/fonts/google/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff); /* For IE6-8 */
    src: local('Material Symbols Outlined'),
    local('MaterialSymbolsOutlined[FILL,GRAD,opsz,wght]'),
    url(/media/com_emundus/css/fonts/google/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    font-family: var(--em-profile-font), Inter, sans-serif;
}

/***********
/* TCHOOZY *
 ***********/

.tchoozy-celebrating {
    background-image: url("/media/com_emundus/images/tchoozy/complex-illustrations/celebrating.svg");
    background-repeat: no-repeat;
    height: 150px;
    width: 200px;
}

/* Accueil */
.homepage #g-container-main .g-container .mod_emundus_campaign__intro {
    background-image: var(--display-demonstration);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: top 50% right 30px;
    width: 100%;
    padding-right: 28%;
    min-height: 150px;
}

/* Profile form */
.mon-profil .emundus-form {
    position: relative;
    overflow: hidden;
}

.mon-profil .emundus-form  #background-shapes-profile {
    mask-image: url("/media/com_emundus/images/tchoozy/backgrounds/corner-top-right-background.svg");
    -webkit-mask-image: url("/media/com_emundus/images/tchoozy/backgrounds/corner-top-right-background.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: right top;
    border-bottom-right-radius: 14px;
    -webkit-mask-position: right top;
    mask-size: 600px;
    -webkit-mask-size: 600px;
    position: absolute;
    pointer-events: none;
    height: 500px;
    width: 100%;
    z-index: 0;
    background: var(--em-profile-color);
    top: 0;
}

@media screen and (max-width: 767px) {
    .mon-profil .emundus-form #background-shapes-profile {
       display: none;
    }
}


/* Connexion */
.view-login.gantry > #g-page-surround {
    background-image: var(--display-digital-testing), var(--display-candidate-button);
    background-position: top 120px left 20px, bottom 50px right 20px;
    background-repeat : no-repeat, no-repeat;
    background-size : 25%, 25%;
    overflow: hidden;
}

#login-background-shapes-left {
    mask-image: url("/media/com_emundus/images/tchoozy/backgrounds/corner-bottom-left-background.svg");
    -webkit-mask-image: url("/media/com_emundus/images/tchoozy/backgrounds/corner-bottom-left-background.svg");
    background: var(--em-profile-color);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: left bottom;
    -webkit-mask-position: left bottom;
    mask-size: 600px;
    -webkit-mask-size: 600px;
    position: absolute;
    height: 100%;
    width: 100%;
}

#login-background-shapes-right {
    mask-image: url("/media/com_emundus/images/tchoozy/backgrounds/corner-top-right-background.svg");
    -webkit-mask-image: url("/media/com_emundus/images/tchoozy/backgrounds/corner-top-right-background.svg");
    background: var(--em-profile-color);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: right top;
    -webkit-mask-position: right top;
    mask-size: 600px;
    -webkit-mask-size: 600px;
    position: absolute;
    height: 100%;
    width: 100%;
}

.login #g-navigation .g-container {
    background : transparent;
}

#g-container-main div.login {
    background : none;
}

/* Pop-up aide */
.icone-aide-tchoozy {
    width: 24px;
}

/* Page settings */
.com_emundus.view-settings #g-page-surround #container-parameters-background-shapes {
    mask-image: url("/media/com_emundus/images/tchoozy/backgrounds/corner-bottom-right-background.svg");
    -webkit-mask-image: url("/media/com_emundus/images/tchoozy/backgrounds/corner-bottom-right-background.svg");
    background: var(--em-profile-color);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: right bottom;
    -webkit-mask-position: right bottom;
    mask-size: 60%;
    -webkit-mask-size: 60%;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 58px;
}

.com_emundus.view-settings #g-page-surround #parameters-background-shapes {
    background-image: var(--display-setting-tools);
    background-position: bottom 65px right;
    background-repeat : no-repeat;
    background-size :  30%;
    height: 100%;
    width: 100%;
    position: absolute
}


/* TABLETTE */
@media screen and (min-width: 768px) and (max-width: 959px) {

    /* Accueil */
    .homepage #g-container-main .g-container .mod_emundus_campaign__intro {
        background-position: top 50% right -40px;
    }

    /* Coin haut droite des pages mentions légales, cookies, indicateurs, groupes, campagnes... */
    .view-article #g-page-surround, .view-list #g-page-surround, .view-form #g-page-surround, .view-emails #g-page-surround, .view-campaigns #g-page-surround, .view-automation #g-page-surround, .view-task.layout-history #g-page-surround {
        background-size: 90%;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {

    /* Accueil */
    .homepage #g-container-main .g-container {
        background-image : none;
    }

    .homepage #g-container-main .g-container .mod_emundus_campaign__intro {
        background-image: none;
        padding-right: 0;
    }

    /* Connexion */
    .view-login.gantry > #g-page-surround {
        background-image : none, none;
    }

    /* Page settings */
    .com_emundus.view-settings #g-page-surround #container-parameters-background-shapes{
        display: none;
    }

    .com_emundus.view-settings #g-page-surround #parameters-background-shapes{
        display: none;
    }

    /* Coin haut droite des pages mentions légales, cookies, indicateurs, groupes, campagnes... */
    .view-article #g-page-surround, .view-list #g-page-surround, .view-form #g-page-surround, .view-emails #g-page-surround, .view-campaigns #g-page-surround, .view-automation #g-page-surround, .view-task.layout-history #g-page-surround {
        background-size: 100%;
    }
}

/***************
/* FIN TCHOOZY *
 ***************/

.after-em-border::after{
    content: "";
    width: 40px;
    height: var(--em-form-after-bh);
    display: block;
    margin-top: 8px;
}
small {
    font-size: 15px;
    font-weight: 500;
}
.em-goback-btn {
    padding: var(--em-spacing-vertical) var(--em-spacing-horizontal);

    button.btn.goback-btn {
        text-shadow: none;
        text-transform: none;
        color: var(--neutral-900);
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: normal;
        font-size: var(--em-applicant-font-size);
        margin-bottom: 0;
        font-family: var(--em-profile-font), Inter, sans-serif;
    }

    button.btn.goback-btn:hover {
        background-color: var(--neutral-300);
    }
}

/** VueScheduler **/
.sx-vue-calendar-wrapper {
    max-width: 100vw;
    height: 800px;
    max-height: 90vh;
}
.sx__time-grid-event-inner {
    display: flex;
    flex-direction: column;
    gap: var(--em-spacing-2);
}
.sx__time-grid-event-time,.sx__time-grid-event-location,.sx__time-grid-event-people,.sx__time-grid-event-availabilities {
    font-size: 0.75rem;
    span:not(.material-symbols-outlined) {
        font-size: 0.75rem;
    }
    span.material-symbols-outlined {
        font-size: 1rem;
    }
    .sx__time-grid-event-people-list {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.sx__time-grid-event-availabilities {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.sx__view-selection-selected-item {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    height: var(--em-form-height);
    border-radius: var(--em-form-br);
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: 50%;
    background-image: url('../../../../images/emundus/arrow.svg');
    padding-right: 24px;
}
.sx__view-selection-selected-item:hover {
    background-color: var(--em-form-bgc-hover);
    border-color: var(--em-form-bc-hover);
}
.sx__view-selection-items li {
    font-size: 0.75rem;
    padding: 12px 14px;
}
.sx__time-grid-event-title {
    margin-bottom: var(--em-spacing-1);
}
.sx__stripped_event {
    background: repeating-linear-gradient(
            45deg,
            var(--neutral-100),
            var(--neutral-100) 6px,
            var(--neutral-300) 6px,
            var(--neutral-300) 12px
    );
}
.sx__today-button.sx__ripple {
    border: unset;
    height: auto;
    padding: unset;
    font-size: 0.75rem;
    order: 3;
}
.sx__today-button.sx__ripple:hover {
    color: var(--em-profile-color);
    text-decoration: underline;
    background-color: transparent;
}
.sx__today-button.sx__ripple:active,.sx__today-button.sx__ripple:focus {
    color: var(--em-profile-color);
    background-color: transparent;
}
.sx__date-input-label {
    border-radius: var(--em-coordinator-br);
}
.sx__chevron-wrapper.sx__ripple {
    width: 24px;
    height: 24px;
    min-width: unset;
    min-height: unset;
}
div.sx__forward-backward-navigation {
    height: unset;
}
.sx__range-heading {
    font-size: 0.75rem;
}
button.sx__chevron-wrapper i.sx__chevron {
    border-width: 0.1rem 0.1rem 0 0;
}
button.sx__chevron-wrapper:hover {
    background-color: var(--neutral-300);
}
div.sx__time-grid-event.sx__event {
    border: unset !important;
}
/** **/

/* VCalendar */
.vc-time-date {
    display: none;
}
.vc-time-picker {
    justify-content: center;
}
.vc-time-icon {
    display: none;
}
.vc-select select {
    width: 100%;
}
.vc-select-arrow {
    display: none;
}
.vc-time-select-group {
    background: transparent;
    border: unset;
    .vc-base-icon {
        display: none;
    }
    .vc-base-select {
        height: auto;
        select {
            height: auto;
        }
    }
}
.vc-highlight-bg-solid,.vc-highlight {
    background-color: var(--em-profile-color) !important;
}

.placement-center {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

/* SKELETON */
.em-skeleton {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    background-color: #DDDBDD;
    transition: all .3s;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
        animation: shimmer 4s infinite;
        content: '';
    }

    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}

.em-applicant .toggle-editor {
    display: none;
}